.cell {
    display: flex;
    justify-content: space-between;
    width: 360px;
    padding: 5px;
    max-height: 100px;
    will-change: max-height;
}

.cell--hide {
    visibility: hidden;
    height: 34px;
}

.text {
    margin: 0;
    overflow: hidden;
}

.button {
    align-self: flex-end;
    color: #17485f;
    margin-left: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: #15648a;
}
